-#%ul#myTab.nav.nav-tabs
  -#- @vehicles.each_with_index do |vehicle, index|
    -#= render :partial => "nav-tabs_ul", :locals => { vehicle: vehicle, index: index }
-##myTabContent.tab-content
  -#- @vehicles.each_with_index do |vehicle, index|
    -#= render :partial => "tab-pane", :locals => { vehicle: vehicle, index: index }


.row-fluid
  .span5.offset1
    .appointment-container
      .appt-header
        Make Appointments
  .span5.offset1
    .vehicle-wrapper
      - if @vehicles.empty?
        %h3 You have no Vehicles
        = link_to "add vehicle", new_customers_vehicle_path
      - else
        %ul#myVehicle.nav.nav-tabs
          - @vehicles.each_with_index do |vehicle, index|
            = render :partial => "nav-tabs_ul", :locals => { vehicle: vehicle, index: index }
        #myVehicle_content.tab-content
          - @vehicles.each_with_index do |vehicle, index|
            = render :partial => "tab-pane", :locals => { vehicle: vehicle, index: index }



