.row
  .col-md-6
    %h3
      Outline buttons
.row
  .col-md-12
    %p.bs-component
      %a.btn.btn-outline{href: "javascript:void(0)"}
        %code .btn-outline
      %a.btn.btn-outline.active{href: "javascript:void(0)"}
        %code .active
      %a.btn.btn-outline.btn-link{href: "javascript:void(0)"} Link
.row
  .col-md-12
    %p.bs-component
      %a.btn.btn-outline.btn-default{href: "javascript:void(0)"} Default
      %a.btn.btn-outline.btn-primary{href: "javascript:void(0)"} Primary
      %a.btn.btn-outline.btn-success{href: "javascript:void(0)"} Success
      %a.btn.btn-outline.btn-info{href: "javascript:void(0)"} Info
      %a.btn.btn-outline.btn-warning{href: "javascript:void(0)"} Warning
      %a.btn.btn-outline.btn-danger{href: "javascript:void(0)"} Danger
.row
  .col-md-6
    %h3
      Raised Outline buttons
.row
  .col-md-12
    %p.bs-component
      %a.btn.btn-raised.btn-outline{href: "javascript:void(0)"}
        %code .btn-outline
      %a.btn.btn-raised.btn-outline.active{href: "javascript:void(0)"}
        %code .active
      %a.btn.btn-raised.btn-outline.btn-link{href: "javascript:void(0)"} Link
.row
  .col-md-12
    %p.bs-component
      %a.btn.btn-raised.btn-outline.btn-default{href: "javascript:void(0)"} Default
      %a.btn.btn-raised.btn-outline.btn-primary{href: "javascript:void(0)"} Primary
      %a.btn.btn-raised.btn-outline.btn-success{href: "javascript:void(0)"} Success
      %a.btn.btn-raised.btn-outline.btn-info{href: "javascript:void(0)"} Info
      %a.btn.btn-raised.btn-outline.btn-warning{href: "javascript:void(0)"} Warning
      %a.btn.btn-raised.btn-outline.btn-danger{href: "javascript:void(0)"} Danger


