.row
  .col-xs-12
    %h2 Custom Modals
.row
  .col-xs-6
    .bs-component
      .modal.modal-default
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Default Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-primary
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Primary Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-success
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Success Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-info
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Info Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-warning
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Warning Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-danger
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Danger Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

.row
  .col-xs-12
    %h2 Custom Dark Modals
.row
  .col-xs-6
    .bs-component
      .modal.modal-default-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Default Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-primary-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Primary Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-success-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Success Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-info-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Info Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-warning-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Warning Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-danger-dark
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Danger Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes


.row
  .col-xs-12
    %h2 Custom Outline Modals
.row
  .col-xs-6
    .bs-component
      .modal.modal-default-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Default Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-primary-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Primary Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-success-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Success Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-info-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Info Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-warning-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Warning Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes

  .col-xs-6
    .bs-component
      .modal.modal-danger-outline
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ aria: { hidden: true }, data: { dismiss: :modal }, type: :button } ×
              %h4.modal-title Danger Modal
            .modal-body
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
              %p One fine body…
              %br
              %br
            .modal-footer
              %button.btn.btn-raised.btn-default.btn-cancel{ data: { dismiss: :modal }, type: :button } Close
              %button.btn.btn-raised.btn-primary.btn-save{ type: :button } Save changes


