.row
  .col-md-12
    %h2 Custom Panels
.row
  .col-md-4
    .bs-component
      .panel.panel-default
        .panel-heading
          %h3.panel-title Custom Panel Default
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Custom Panel Primary
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-info
        .panel-heading
          %h3.panel-title Custom Panel Info
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

.row
  .col-md-4
    .bs-component
      .panel.panel-success
        .panel-heading
          %h3.panel-title Custom Panel Success
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Custom Panel Warning
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Custom Panel Danger
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

.row
  .col-md-12
    %h2 Custom Dark Panels
.row
  .col-md-4
    .bs-component
      .panel.panel-default-dark
        .panel-heading
          %h3.panel-title Custom Panel Default Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-primary-dark
        .panel-heading
          %h3.panel-title Custom Panel Primary Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-info-dark
        .panel-heading
          %h3.panel-title Custom Panel Info Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

.row
  .col-md-4
    .bs-component
      .panel.panel-success-dark
        .panel-heading
          %h3.panel-title Custom Panel Success Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-warning-dark
        .panel-heading
          %h3.panel-title Custom Panel Warning Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-danger-dark
        .panel-heading
          %h3.panel-title Custom Panel Danger Dark
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

.row
  .col-md-12
    %h2 Custom Outline Panels
.row
  .col-md-4
    .bs-component
      .panel.panel-default-outline
        .panel-heading
          %h3.panel-title Custom Panel Default Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-primary-outline
        .panel-heading
          %h3.panel-title Custom Panel Primary Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-info-outline
        .panel-heading
          %h3.panel-title Custom Panel Info Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

.row
  .col-md-4
    .bs-component
      .panel.panel-success-outline
        .panel-heading
          %h3.panel-title Custom Panel Success Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-warning-outline
        .panel-heading
          %h3.panel-title Custom Panel Warning Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer

  .col-md-4
    .bs-component
      .panel.panel-danger-outline
        .panel-heading
          %h3.panel-title Custom Panel Danger Transparent
        .panel-body
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
          Panel content
          %br
        .panel-footer Panel footer


