@import "utilities/variables"
.jumbotron.intro-page 
  margin-top: 20px
  .form-group
    line-height: 1.428571429
@media (min-width: $screen-md-min)
  .jumbotron.intro-page
    .panel
      margin-top: 30px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  .jumbotron.intro-page
    .panel
      margin-top: 0px

