.col-xs-12.col-md-offset-1.col-md-10
  = form_for(resource, as: resource_name, url: user_registration_path, html: { method: :post }) do |f|
    -#= devise_error_messages!
    = render partial: "/devise/registrations/panels/login_info", locals: {f: f}
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8
        .container-fluid
          .form-group
            = f.submit 'register', class: "btn btn-success btn-outline btn-raised btn-block", role: "button"

