$sw-black-0: #302E2F;
$sw-black-1: #888185;
$sw-black-2: #5E5A5C;
$sw-black-3: #0B090A;
$sw-black-4: #10090D;
$sw-black-6: #EAEAEA;

$sw-black-rgb-0: rgb(48 , 46, 47);
$sw-black-rgb-1: rgb(136,129,133);
$sw-black-rgb-2: rgb(94 , 90, 92);
$sw-black-rgb-3: rgb(11 ,  9, 10);
$sw-black-rgb-4: rgb(16 ,  9, 13);


$sw-blue-0: #2F587F;
$sw-blue-1: #7595B4;
$sw-blue-2: #4A7096;
$sw-blue-3: #1C446B;
$sw-blue-4: #092E50;
$sw-blue-5: #2f3030;
$sw-blue-6: #EAEEF2;

$sw-blue-rgb-0: rgba( 47, 88,127,1);
$sw-blue-rgb-1: rgba(117,149,180,1);
$sw-blue-rgb-2: rgba( 74,112,150,1);
$sw-blue-rgb-3: rgba( 28, 68,107,1);
$sw-blue-rgb-4: rgba(  9, 46, 80,1);


$sw-green-0: #00960A;
$sw-green-1: #36C23F;
$sw-green-2: #09BC15;
$sw-green-3: #007A08;
$sw-green-4: #005906;
$sw-green-5: #2f302f;
$sw-green-6: #E6F4E6;

$sw-green-rgb-0: rgb(0  ,150, 10);
$sw-green-rgb-1: rgb(54 ,194, 63);
$sw-green-rgb-2: rgb(9  ,188, 21);
$sw-green-rgb-3: rgb(0  ,122,  8);
$sw-green-rgb-4: rgb(0  , 89,  6);


$sw-lime-green-0: #04CD1D;
$sw-lime-green-1: #56DB67;
$sw-lime-green-2: #2FD143;
$sw-lime-green-3: #00A614;
$sw-lime-green-4: #008210;
$sw-lime-green-5: #2f302f;
$sw-lime-green-6: #E6FAE8;

$sw-lime-green-rgb-0: rgb(4  ,205, 29);
$sw-lime-green-rgb-1: rgb(86 ,219,103);
$sw-lime-green-rgb-2: rgb(47 ,209, 67);
$sw-lime-green-rgb-3: rgb(0  ,166, 20);
$sw-lime-green-rgb-4: rgb(0  ,130, 16);


$sblue-0: #1E69B0;
$sblue-1: #6399CD;
$sblue-2: #3E7DBB;
$sblue-3: #0A5094;
$sblue-4: #073E73;
$sblue-5: #2f3030;
$sblue-6: #E8F0F7;

$sblue-rgb-0: rgb(30 ,104,176);
$sblue-rgb-1: rgb(99 ,153,205);
$sblue-rgb-2: rgb(62 ,125,187);
$sblue-rgb-3: rgb(10 , 80,148);
$sblue-rgb-4: rgb(7  , 62,115);


$syellow-0: #F2DE29;
$syellow-1: #FFF27B;
$syellow-2: #FFED53;
$syellow-3: #CBB80B;
$syellow-4: #A19100;
$syellow-5: #30302f;
$syellow-6: #FEFCEA;

$syellow-rgb-0: rgb(242,222, 41);
$syellow-rgb-1: rgb(255,242,123);
$syellow-rgb-2: rgb(255,237, 83);
$syellow-rgb-3: rgb(203,184, 11);
$syellow-rgb-4: rgb(161,145,  0);


$sorange-0: #F3692A;
$sorange-1: #FFA57C;
$sorange-2: #FF8953;
$sorange-3: #CD470B;
$sorange-4: #A23300;
$sorange-5: #302f2f;
$sorange-6: #FEF0EA;

$sorange-rgb-0: rgb(243,105, 42);
$sorange-rgb-1: rgb(255,165,124);
$sorange-rgb-2: rgb(255,137, 83);
$sorange-rgb-3: rgb(205, 71, 11);
$sorange-rgb-4: rgb(162, 51,  0);


$sred-0: #CC2D2D;
$sred-1: #FF8787;
$sred-2: #E15454;
$sred-3: #A41616;
$sred-4: #7D0000;
$sred-5: #302f2f;
$sred-6: #FAEAEA;

$sred-rgb-0: rgba(204, 45, 45,1);
$sred-rgb-1: rgba(255,135,135,1);
$sred-rgb-2: rgba(225, 84, 84,1);
$sred-rgb-3: rgba(164, 22, 22,1);
$sred-rgb-4: rgba(125,  0,  0,1);

$sgreen-0: #399939;
$sgreen-1: #95D695;
$sgreen-2: #62BA62;
$sgreen-3: #1E7E1E;
$sgreen-4: #065B06;
$sgreen-5: #2f302f;
$sgreen-6: #EBF5EB;

$sgreen-rgb-0: rgba(57 ,153, 57,1);
$sgreen-rgb-1: rgba(149,214,149,1);
$sgreen-rgb-2: rgba(98 ,186, 98,1);
$sgreen-rgb-3: rgba(30 ,126, 30,1);
$sgreen-rgb-4: rgba(6  , 91,  6,1);


$spurple-0: #655ABF;
$spurple-1: #B5AFEB;
$spurple-2: #887FD6;
$spurple-3: #4A3EAB;
$spurple-4: #2E2298;
$spurple-5: #2f2f30;
$spurple-6: #F0EEF9;

$spurple-rgb-0: rgba(101, 90,191,1);
$spurple-rgb-1: rgba(181,175,235,1);
$spurple-rgb-2: rgba(136,127,214,1);
$spurple-rgb-3: rgba(74 , 62,171,1);
$spurple-rgb-4: rgba(46 , 34,152,1);

