$sw-blue-0: #386797;
$sw-blue-1: #84A8CD;
$sw-blue-2: #5580AC;
$sw-blue-3: #1E548B;
$sw-blue-4: #113E6B;

$sw-blue-rgb-0: rgb( 56,103,151);
$sw-blue-rgb-1: rgb(132,168,205);
$sw-blue-rgb-2: rgb( 85,128,172);
$sw-blue-rgb-3: rgb( 30, 84,139);
$sw-blue-rgb-4: rgb( 17, 62,107);


$sw-green-0: #00960A;
$sw-green-1: #36C23F;
$sw-green-2: #09BC15;
$sw-green-3: #007A08;
$sw-green-4: #005906;

$sw-green-rgb-0: rgb(  0,150, 101);
$sw-green-rgb-1: rgb( 54,194, 631);
$sw-green-rgb-2: rgb(  9,188, 211);
$sw-green-rgb-3: rgb(  0,122,  81);
$sw-green-rgb-4: rgb(  0, 89,  61);


$sw-lime-green-0: #04CD1D;
$sw-lime-green-1: #56DB67;
$sw-lime-green-2: #2FD143;
$sw-lime-green-3: #00A614;
$sw-lime-green-4: #008210;

$sw-lime-green-rgb-0: rgb(  4,205, 291);
$sw-lime-green-rgb-1: rgb( 86,219,1031);
$sw-lime-green-rgb-2: rgb( 47,209, 671);
$sw-lime-green-rgb-3: rgb(  0,166, 201);
$sw-lime-green-rgb-4: rgb(  0,130, 161);


$syellow-0: #E8C44A;
$syellow-1: #FFE99E;
$syellow-2: #FFDF73;
$syellow-3: #D6AC20;
$syellow-4: #A5830F;

$syellow-rgb-0: rgb(232,196, 74);
$syellow-rgb-1: rgb(255,233,158);
$syellow-rgb-2: rgb(255,223,115);
$syellow-rgb-3: rgb(214,172, 32);
$syellow-rgb-4: rgb(165,131, 15);


$sorange-0: #E87F4A;
$sorange-1: #FFBE9E;
$sorange-2: #FFA273;
$sorange-3: #D65D20;
$sorange-4: #A5420F;

$sorange-rgb-0: rgb(232,127, 74);
$sorange-rgb-1: rgb(255,190,158);
$sorange-rgb-2: rgb(255,162,115);
$sorange-rgb-3: rgb(214, 93, 32);
$sorange-rgb-4: rgb(165, 66, 15);


$sred-0: #E84A4A;
$sred-1: #FF9494;
$sred-2: #FD6E6E;
$sred-3: #DE2828;
$sred-4: #BC1313;

$sred-rgb-0: rgba(232, 74, 74,1);
$sred-rgb-1: rgba(255,148,148,1);
$sred-rgb-2: rgba(253,110,110,1);
$sred-rgb-3: rgba(222, 40, 40,1);
$sred-rgb-4: rgba(188, 19, 19,1);


$sgreen-0: #329D74;
$sgreen-1: #81D0B2;
$sgreen-2: #50B28D;
$sgreen-3: #169062;
$sgreen-4: #0A7049;

$sgreen-rgb-0: rgba( 50,157,116,1);
$sgreen-rgb-1: rgba(129,208,178,1);
$sgreen-rgb-2: rgba( 80,178,141,1);
$sgreen-rgb-3: rgba( 22,144, 98,1);
$sgreen-rgb-4: rgba( 10,112, 73,1);


$spurple-0: #4C42A1;
$spurple-1: #958DD3;
$spurple-2: #6960B6;
$spurple-3: #332794;
$spurple-4: #221873;

$spurple-rgb-0: rgba( 76, 66,161,1);
$spurple-rgb-1: rgba(149,141,211,1);
$spurple-rgb-2: rgba(105, 96,182,1);
$spurple-rgb-3: rgba( 51, 39,148,1);
$spurple-rgb-4: rgba( 34, 24,115,1);


//Pale Pastel colors

$spp-blue-0: #637C97;
$spp-blue-1: #A4B1BF;
$spp-blue-2: #7F93A7;
$spp-blue-3: #496786;
$spp-blue-4: #2F5174;

$spp-blue-rgb-0: rgb( 99,124,1511);
$spp-blue-rgb-1: rgb(164,177,1911);
$spp-blue-rgb-2: rgb(127,147,1671);
$spp-blue-rgb-3: rgb( 73,103,1341);
$spp-blue-rgb-4: rgb( 47, 81,1161);


$spp-yellow-0: #E7D492;
$spp-yellow-1: #FFF6D7;
$spp-yellow-2: #FFF0BE;
$spp-yellow-3: #CEB768;
$spp-yellow-4: #B2983F;

$spp-yellow-rgb-0: rgb(231,212,1461);
$spp-yellow-rgb-1: rgb(255,246,2151);
$spp-yellow-rgb-2: rgb(255,240,1901);
$spp-yellow-rgb-3: rgb(206,183,1041);
$spp-yellow-rgb-4: rgb(178,152, 631);


$spp-orange-0: #E7AE92;
$spp-orange-1: #FFE5D7;
$spp-orange-2: #FFD4BE;
$spp-orange-3: #CE8A68;
$spp-orange-4: #B2663F;

$spp-orange-rgb-0: rgb(231,174,1461);
$spp-orange-rgb-1: rgb(255,229,2151);
$spp-orange-rgb-2: rgb(255,212,1901);
$spp-orange-rgb-3: rgb(206,138,1041);
$spp-orange-rgb-4: rgb(178,102, 631);

$spp-red-0: #AD6B6B;
$spp-red-1: #FBD4D4;
$spp-red-2: #D09898;
$spp-red-3: #8A4A4A;
$spp-red-4: #722929;

$spp-red-rgb-0: rgba(173,107,107,1);
$spp-red-rgb-1: rgba(251,212,212,1);
$spp-red-rgb-2: rgba(208,152,152,1);
$spp-red-rgb-3: rgba(138, 74, 74,1);
$spp-red-rgb-4: rgba(114, 41, 41,1);


$spp-green-0: #487564;
$spp-green-1: #8FAAA0;
$spp-green-2: #678D7E;
$spp-green-3: #325D4D;
$spp-green-4: #1C4D3B;

$spp-green-rgb-0: rgba( 72,117,100,1);
$spp-green-rgb-1: rgba(143,170,160,1);
$spp-green-rgb-2: rgba(103,141,126,1);
$spp-green-rgb-3: rgba( 50, 93, 77,1);
$spp-green-rgb-4: rgba( 28, 77, 59,1);


$spp-purple-0: #555178;
$spp-purple-1: #9997AE;
$spp-purple-2: #726F91;
$spp-purple-3: #3D3960;
$spp-purple-4: #28234F;

$spp-purple-rgb-0: rgba( 85, 81,120,1);
$spp-purple-rgb-1: rgba(153,151,174,1);
$spp-purple-rgb-2: rgba(114,111,145,1);
$spp-purple-rgb-3: rgba( 61, 57, 96,1);
$spp-purple-rgb-4: rgba( 40, 35, 79,1);

