// ITALIC
@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Light Italic'), local('CenturyGothicLight-Italic');
  font-weight: italic;
  font-style: 200;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Semi Light Italic'), local('CenturyGothicSemiLight-Italic');
  font-weight: italic;
  font-style: 300;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Italic'), local('CenturyGothic-Italic');
  font-weight: italic;
  font-style: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Semi Heavy Italic'), local('CenturyGothicSemiHeavy-Italic');
  font-weight: italic;
  font-style: 600;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Heavy Italic'), local('CenturyGothicHeavy-Italic');
  font-weight: italic;
  font-style: 700;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Bold Italic'), local('CenturyGothicBold-Italic');
  font-weight: italic;
  font-style: 900;
}

//normal
@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Light'), local('CenturyGothicLight');
  font-weight: normal;
  font-style: 200;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Semi Light'), local('CenturyGothicSemiLight');
  font-weight: normal;
  font-style: 300;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic'), local('CenturyGothic');
  font-weight: normal;
  font-style: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Semi Heavy'), local('CenturyGothicSemiHeavy');
  font-weight: normal;
  font-style: 600;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Heavy'), local('CenturyGothicHeavy');
  font-weight: normal;
  font-style: 700;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype');
  src: url('/assets/gothic.eot?'), url('/assets/gothic.ttf') format('truetype');
  src: local('Century Gothic Bold'), local('CenturyGothicBold');
  font-weight: normal;
  font-style: 900;
}


