@import "./bootstrap/mixins/extended/material-design/_variables";
#footer {
  height: 60px;
  margin: 0;
  padding: 5px;
  background-color: $footer-bg;
  color: $ltpp-p2-hex;
  .navbar-header,
  .copyright {
    padding: 10px;
  }
  .copyright {
    font-size: 8px;
    color: $ltpp-p1-hex;
    text-align: right;
    line-height: 35px;
  }
}

@media (max-width: $screen-xs-max) {
  #footer {
    height: 80px;
    padding-top: 8px;
    text-align: center;
    margin-top: 0px;
    img {
      float: none;
    }
    .copyright {
      text-align: center;
      line-height: 12px;
      padding: 5px;
    }
  }
}

@media (max-width: $screen-sm-max){
  #footer {
    margin-top: 0px;
  }
}
