$light-color: lighten($navbar-default-bg, 25%);

.navbar {
  .navbar-brand {
    .aligner {
      margin-top: -10px;
    }
  }
  .navbar-nav {
    .nav-divider {
      margin: 0px;
    }
  }
}

@media only screen and (max-device-width: $screen-sm-max) {
  .navbar-brand {
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 0px;
    .navbar-nav {
      margin: 15px 15px 15px 0px;
      padding: 1px 0 0 0;

      li {
        margin-left: 10px;
        a {
          padding: 10px 15px;
          &:hover {
            @include navbar-link($light-color);
          }
        }
      }

      li.active {
        a, a:hover {
          @include navbar-link($light-color);
        }
      }

      li.open {
        @include ul-dropdonw-menu($navbar-default-bg, $light-color);
        a, a:focus, a:hover {
          @include li-opened($navbar-default-bg, $light-color);
        }
      }
    }

  }
}

