@import "./bootstrap/components/mixins";

html, body {
  height: 100%;
}

#wrap {
  min-height: 90%;
  height: auto;
}

//  margin: 0 auto -60px
// //padding: 0 0 60px

//alerts
.notice_error {
  position: absolute;
  z-index: 10;
  margin-top: -18px;
}

input.line-height-20px {
  line-height: 20px !important;
}

.header_wrapper.dashboards_index {
  height: 33px !important;
}

.flash-notice {
  position: absolute;
  top: 128px;
  width: 100%;
}

@media (max-width: $screen-xs-max) {
  .flash-notice {
    top: 58px;
  }
}

.well div {
  margin-bottom: 5px;
}

.well div:last-of-type {
  margin-bottom: 0;
}

.list-group.service-ul{
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: -10px;
  .service-title{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .list-group-item{
    padding: 6px 15px;
  }
}


@media (min-width: 768px){
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 45em;
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 22em;
}
.bootstrap-datetimepicker-widget {
  background-color: #3E3E3E;
  color: #F0652C;
  table{
    td.active,
    td.active:hover {
      background-color: #F0652C;
      border-radius: 36px;
      -webkit-transition: border-radius 1s, background-color 1s; /* Safari */
      transition: border-radius 1s, background-color 1s;
    }
    td.day:hover,
    td.hour:hover,
    td.minute:hover,
    td.second:hover,
    td span:hover {
      background: #FCE0D5;
      color: #783216;
    }
  }
  .btn-primary {
    color: #FEF0EA;
    background-color: #F0652C;
    border-color: #FAD1C0;
  }
  .btn-primary:hover {
    color: #783216;
    background-color: #F6A380;
    border-color: #FCE0D5;
    border-radius: 36px;
    -webkit-transition: border-radius 1s; /* Safari */
    transition: border-radius 1s;
  }
}

.appointment-format{
  background-color:#3E3E3E;
  padding-top: 5px;
  padding-bottom: 5px;
  border:1px solid #B2B2B2;
  border-radius: 0px;
  legend{border:1px solid #ffffff}
  .top-row{
    padding-top: 10px;
    border-radius:2px;
    background-color: #F0652C;
    color:#ffffff;
  }
  .visible-xs-block{
    .appointment-day-in-words h1,
    .appointment-day-in-words h2,
    .appointment-day-in-words h3,
    .appointment-day-in-words h4,
    .appointment-day-in-words h5,
    .appointment-day-in-words h6{
      margin-top: 0px;
      margin-bottom: 5px;
      padding-bottom:5px;
    }
    .space-div{
      width:100%;
      height:10px!important;
      background-color:#3E3E3E;
      border-radius:2px;
      box-shadow:0px 0px 4px inset #F0652C
    }

    .appointment-date {
      div.well {
        border-radius: 30px;
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        h1,h2,h3,h4,h5,h6{
          margin-top: 13px;
          margin-bottom: 0px;
        }
      }
      .appointment-day{
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
    .appointment-month h1,.appointment-month h2,.appointment-month h3,
    .appointment-month h4,.appointment-month h5,.appointment-month h6{
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .appointment-year h1,.appointment-year h2,.appointment-year h3,
    .appointment-year h4,.appointment-year h5,.appointment-year h6{
      margin-top: 0px !important;
    }
    .appointment-time-label{
      margin-top: 5px;
      margin-bottom: 0px;
    }
    .appointment-time{
      margin: 0px;
    }
  }

  .hidden-xs{
    .appointment-date {
      div.well {
        border-radius: 63px;
        width: 60px;
        height: 60px;
        padding-top: 11px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        h1,h2,h3,h4,h5,h6{
          margin-top: 9px;
          margin-bottom: 0px;
        }
      }
      .appointment-day{
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
    .appointment-date.pull-left{
      margin-left: 7px;
    }

    .appointment-day-in-words h1,
    .appointment-day-in-words h2,
    .appointment-day-in-words h3,
    .appointment-day-in-words h4,
    .appointment-day-in-words h5,
    .appointment-day-in-words h6{
      margin-top: 0px;
    }

    .appointment-month h1,.appointment-month h2,.appointment-month h3,
    .appointment-month h4,.appointment-month h5,.appointment-month h6{
      margin: 0px;
    }
    .appointment-year h1,.appointment-year h2,.appointment-year h3,
    .appointment-year h4,.appointment-year h5,.appointment-year h6{
      margin: 0px;
    }
    .appointment-time-label{
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .appointment-time{
      margin: 0px;
    }
  }
}

