//alerts
.notice_error
  position: absolute
  z-index: 10
  margin-top: -18px

input.line-height-20px
  line-height: 20px!important


.header_wrapper.dashboards_index
  height: 33px!important
.panel
  margin-top: 10px
  .panel-heading
    .breadcrumb
      margin-bottom: 0px !important
