@import "./bootstrap/components/mixins";

html, body {
  height: 100%;
}

#wrap {
  min-height: 90%;
  height: auto;
}

//  margin: 0 auto -60px
// //padding: 0 0 60px

//alerts
.notice_error {
  position: absolute;
  z-index: 10;
  margin-top: -18px;
}

input.line-height-20px {
  line-height: 20px !important;
}

.header_wrapper.dashboards_index {
  height: 33px !important;
}

.flash-notice {
  position: absolute;
  top: 128px;
  width: 100%;
}

@media (max-width: $screen-xs-max) {
  .flash-notice {
    top: 58px;
  }
}

.well div {
  margin-bottom: 5px;
}

.well div:last-of-type {
  margin-bottom: 0;
}

