-unless flash.empty?
- flash_hash = alert_class_for( flash.first.first )
  #flashModal.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.modal.fade{ class: "modal-#{ flash_hash[ :type ] }-dark", aria: { labelledby: "flashModalLabel" }, role: "dialog", tabindex: -1 }
    .modal-dialog{ role: "document" }
      .modal-content
        .modal-header
          %button.close{ arial: { label: "Close" }, data: { dismiss: "modal" }, type: "button" }
            %span{ aria: { hidden: true } } ×
          %h4#flashModalLabel.modal-title
            = flash_hash[ :heading ]
        .modal-body
          - flash.each do |type, message|
            %p
              = message
        .modal-footer
          %button.btn.btn-outline{ class: "btn-#{ flash_hash[ :type ] }", data: { dismiss: "modal" }, type: "button" } Close

