-unless flash.empty?
  .col-xs-12.col-sm-offset-1.col-sm-10.section.section-primary
    - flash.each do |type, message|
      - msg = alert_class_for(type)
      %div{ class: "alert #{ msg[ :type ] } alert-dismissable fade in"}
        %button.close{ data: { dismiss: :alert } } ×
        %p.lead
          = msg[ :heading ]
        %p
          = message

        -#- if controller.controller_name.eql?("dashboard") && controller.action_name.eql?("index")
          -#= render "shared/navbar/welcome_back"

