#footer
  .col-xs-12.col-sm-8
    =link_to root_path do
      = image_tag("Logo_Initials_50.png", height: 25)
  .col-xs-12.col-sm-4
    .copyright
      Copyright © 2015. Siteler Wash All Rights Reserved
