.row
  .pre-footer.welcome
    .container
      .row
        .col-xs-12.col-sm-4.col-md-4
          %ul
            .h3 
              %legend
                About Siteler
            %li
              .icon
              How do you get discounts on Siteler’s services?
            %li
              .icon
              What is Siteler Wash's 100% satisfaction guarantee?
            %li
              .icon
              How does Siteler Wash save you time?
            %li
              .icon
              Why is Advanced Scheduling worry-free and easy to change?
            %li
              .icon
              Why is Siteler Wash better than taking your car to a "normal" car wash, or washing from home?
            %li
              .icon
              How do I get a refund?
        .col-xs-12.col-sm-4.col-md-4
          %ul
            .h3 
              %legend
                General Questions
            %li
              .icon
              Who is Siteler?
            %li
              .icon
              What does Siteler Certified mean?
            %li
              .icon
              Why is Siteler Wash better than taking your car to a "normal" car wash, or washing from home?
            %li
              .icon
              How does Siteler Wash save you time?
            %li
              .icon
              What is Siteler Wash's 100% satisfaction guarantee?
            %li
              .icon
              How do you get discounts on Siteler’s services?
            %li
              .icon
              How does Siteler Wash help protect the environment?
            %li
              .icon
              How does Siteler Wash help the community?
        .col-xs-12.col-sm-4.col-md-4
          %ul
            .h3 
              %legend
                Appointments
            %li
              .icon
              Why is Advanced Scheduling worry-free and easy to change?
            %li
              .icon
              How do I change an appointment?
            %li
              .icon
              What happens if I miss an appointment or cancel my service?
          %ul
            .h3 
              %legend
                Siteler Dollars
            %li
              .icon
              What are Siteler Dollars and how are they used?
            %li
              .icon
              How do I earn Free Siteler Dollars?
          %ul
            .h3 
              %legend
                Products
            %li
              .icon
              What type of products do you use?

