#footer
  .col-xs-12.col-sm-3.col-lg-2
    .navbar-header
      %a.navbar-brand{:href => "#"}
        = image_tag("logo-50.png")
  .col-xs-12.col-sm-6.col-lg-4.pull-right
    .copyright
      Copyright © 2014. Siteler Wash All Rights Reserved
