%nav.navbar.navbar-default.navbar-static-top
  .navbar.navbar-default.navbar-static-top
    .navbar-header
      %a.navbar-brand.visible-xs{href: root_path}
        -if mobile_device?
          = image_tag("logo_50.png", height: 40)
        -else
          = image_tag("logo_50.png", height: 50)
      %button.navbar-toggle{ data: { target: ".navbar-responsive-collapse", toggle: "collapse" }, type: "button" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %a.navbar-brand.hidden-xs{href: root_path}
      = image_tag('logo_50.png', height: 50)
    .navbar-collapse.collapse.navbar-responsive-collapse
      = render user_signed_in? ? "shared/navbar/navbar_nav_dashboard" : "shared/navbar/navbar_nav_welcome"

