- size = 3
- panel.header_col(xs: 12,sm: size,md:size,lg:size) do
  %h4.text-center
    = title
- if controller.controller_name.eql?("dashboards") && controller.action_name.eql?("index")
  - size = 9
  - panel.header_col(xs: 12,sm: size,md:size,lg:size) do
    = render "shared/breadcrumbs"
- else
  - size = 7
  - panel.header_col(xs: 12,sm: size,md:size,lg:size) do
    = render "shared/breadcrumbs"
  - size = 2
  - panel.header_col(xs: 12,sm: size,md:size,lg:size) do
    = link_to "Back", :back, class: "btn btn-warning btn-block"

