.jumbotron.intro-page.section.section-primary
  .row
    .col-xs-12.col-sm-offset-3.col-sm-6
      .splash_page_login
        = render "shared/sign_up_in_buttons"
        = render "/devise/registrations/form_modal"
