#makeModels
  - if !(defined?(ma)).nil? # will now return true or false
    = ma.fields_for :models_attributes do |mo|
      .control-group
        = mo.label :name, "Model", class: "control-label"
        .controls
          = mo.collection_select :name, [], :id, :name, prompt: true, class: "input-small"
  - else
        -#= mo.collection_select( :name, Model.all, :id, :name, :prompt => true, html: {class: "input-small"})
    -#- mo.object.trims ||= mo.object.build_trims
    -#= render partial: "trims_form", locals: {mo: mo}

