= BootstrapHelper::Panel.new(contextual: 'primary', title:"") do |panel|
  - size = 12
  - panel.header_col(xs: size,sm: size,md:size,lg:size) do
    %h4= "Upcoming Appointments"
  - panel.body do
    = @appointments.to_s
    %p
      TODO

