.section.section-default.row
  .col-xs-12
    .h2
      Package Plans
  .col-xs-12
    -@sample_plans.each do |plan|
      .col-xs-12.col-sm-4
        = render partial: "shared/purchase/packages", locals: {plan: plan}
.section.section-default.row
  .col-xs-12
    .h2
      Individual Plans
  .col-xs-12
    -@sample_individual_plans.each do |plan|
      .col-xs-12.col-sm-4
        = render partial: "shared/purchase/package", locals: {plan: plan}


