.page-header
  %h1 Badges
%p
  %a{:href => "#"}
    Inbox
    %span.badge 42
%ul.nav.nav-pills{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{:href => "#"}
      Home
      %span.badge 42
  %li{:role => "presentation"}
    %a{:href => "#"} Profile
  %li{:role => "presentation"}
    %a{:href => "#"}
      Messages
      %span.badge 3

