.page-header
  %h1 Navs
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{:href => "#"} Home
  %li{:role => "presentation"}
    %a{:href => "#"} Profile
  %li{:role => "presentation"}
    %a{:href => "#"} Messages
%ul.nav.nav-pills{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{:href => "#"} Home
  %li{:role => "presentation"}
    %a{:href => "#"} Profile
  %li{:role => "presentation"}
    %a{:href => "#"} Messages

