.thumbnail.well.well-primary
  .caption
    .h4
      =plan.name
  %img.img.img-responsive{src: plan.image_url, alt: ""}
  %p
    =number_to_currency(plan.price)
  %p
    %button.btn.btn-default.btn-block
      ="add to cart"

-##accordionPackage.col-xs-12.col-sm-6.col-md-4{aria: {multiselectable: true}, role: "tablist"}
  -#.panel.well
    -#%legend.center-block
      -#Detailing Packages
    -##headingPackage.collapse-heading{role: "tab"}
      -#-@sample_plans.each_with_index do |plan, index|
        -#%button.btn.btn-primary.btn-block{href:"#collapsePackage#{index}", data: {toggle: "collapse", parent: "#accordionPackage"}, aria: {expanded: "true", controls: "collapsePackage#{index}"}}=plan.name
    -#-@sample_plans.each_with_index do |plan, index|
      -#.collapse{id: "collapsePackage#{index}", aria: {labelledby: "headingPackage"}, role: "tabpanel"}
        -#= render partial: "dashboard/dashboards/accordions/package", locals: {plan: plan}

