.thumbnail.well.well-primary
  .caption
    .h4
      =plan.name
  %img.img.img-responsive{src: plan.image_url, alt: ""}
  %p
    =number_to_currency(plan.price)
  %p
    %button.btn.btn-default.btn-block
      ="add to cart"

-#.well.well-primary
  -#%legend
    -#%small
      -#=plan.name
  -#.row
    -#.table-responsive.col-xs-12
      -#%table.table.table-condensed.table-bordered
        -#%tr.info
          -#%th="Qty"
          -#%th="Service"
          -#%th="Price"
        -#-plan.services.each_with_index do |service|
          -#%tr
            -#%td=1.to_s
            -#%td=service.name
            -#-if service.small_price == 0.0
              -#%td.success="FREE!"
            -#-else
              -#%td=number_to_currency(service.price)
        -#%tr
          -#%td{colspan: 2, align: "right"}="Total"
          -#%td=number_to_currency(plan.price)
  -#.row
    -#.col-xs-12
      -#= link_to "Add to Cart", line_items_path(package: {package_name: plan.name, package_type: plan.package_type, package_price: plan.price, vehicle_size: @account.vehicles.first.vehicle_size}), class: "btn btn-success btn-block", :method => :post







    -##collapsePackage1.collapse{aria: {labelledby: "headingPackage"}, role: "tabpanel"}
      -#.well.well-primary
        -#%legend
          -#%small
            -#Palace Interior Package
        -#.row
          -#.table-responsive.col-xs-12
            -#%table.table.table-condensed.table-bordered
              -#%tr.info
                -#%th="Qty"
                -#%th="Service"
                -#%th="Price"
              -#%tr
                -#%td=1.to_s
                -#%td="Interior Palace"
                -#%td=number_to_currency(169.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td.success="FREE!"
              -#%tr
                -#%td{colspan: 2, align: "right"}="Total"
                -#%td=number_to_currency(259.8)
          -#.col-xs-12
            -#%a.btn.btn-success.btn-block{href: "#"}
              -#="Purchase"
              -#-#= link_to "Add to Cart", line_items_path(:product_id => product), :method => :post
    -##collapsePackage2.collapse{aria: {labelledby: "packageHeading"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#%small
            -#Palace Exterior Package
        -#.row
          -#.table-responsive.col-xs-12
            -#%table.table.table-condensed.table-bordered
              -#%tr
                -#%th="Qty"
                -#%th="Service"
                -#%th="Price"
              -#%tr
                -#%td=1.to_s
                -#%td="Exterior Palace"
                -#%td=number_to_currency(169.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td="Villa"
                -#%td=1.to_s
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td.success="FREE!"
              -#%tr
                -#%td{colspan: 2, align: "right"}="Total"
                -#%td=number_to_currency(259.8)
          -#.col-xs-12
            -#%a.btn.btn-success.btn-block{href: "#"}
              -#="Purchase"
    -##collapsePackage3.collapse{aria: {labelledby: "packageHeading"}, role: "tabpanel"}
      -#.well
        -#%legend
          -#%small
            -#Palace Complete Package
        -#.row
          -#.table-responsive.col-xs-12
            -#%table.table.table-condensed.table-bordered
              -#%tr
                -#%th="Qty"
                -#%th="Service"
                -#%th="Price"
              -#%tr
                -#%td=1.to_s
                -#%td="Complete Palace"
                -#%td=number_to_currency(299.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td=number_to_currency(29.95)
              -#%tr
                -#%td=1.to_s
                -#%td="Villa"
                -#%td.success="FREE!"
              -#%tr
                -#%td{colspan: 2, align: "right"}="Total"
                -#%td=number_to_currency(389.8)
          -#.col-xs-12
            -#%a.btn.btn-success.btn-block{href: "#"}
              -#="Purchase"

