-@sample_individual_plans.reverse.each_with_index do |individual_plan, individual_index|
  -individual_plan.services.each do |service|
    .col-xs-12.col-sm-4
      .well.well-primary
        %legend
          %small
            =service.name
          %small
            =number_to_currency(service.price)
        = link_to "Add to Cart", line_items_path(plan: {plan_name: individual_plan.name, plan_type: individual_plan.plan_type, plan_price: individual_plan.price, vehicle_size: @account.vehicles.first.vehicle_size}), class: "btn btn-success btn-block", :method => :post
        .row
          .col-xs-12
            -desc_array = []
            -service.description.each do |desc|
              -if desc.downcase.include?("includes")
                -if desc_array.empty?
                  -desc_array << desc
                -else
                  -desc_array.reverse!
                  %h4
                    =desc_array.pop
                  %ul.list-group.list-group.service-ul
                  -desc_array.each do |line|
                    %li.list-group-item
                      = line
                  -desc_array = []
                  -desc_array << desc
              -else
                -desc_array << desc
            -desc_array.reverse!
            %h4
              =desc_array.pop
            %ul.list-group.service-ul
            -desc_array.each do |line|
              %li.list-group-item
                = line
            -desc_array = []

