.row
  .col-xs-12.col-ms-6.col-md-6
    = render partial: 'dashboard/appointments/form_new'
  .col-xs-12.col-ms-6.col-md-6
    = render partial: 'dashboard/appointments/listing'

  -#- if @appointments.empty?
    -#.col-xs-12
      -#= render partial: 'dashboard/appointments/form_new'
    -#.col-xs-12
  -#- else
    -#.col-xs-12.col-ms-6.col-md-6
      -#= render partial: 'dashboard/appointments/form_new'
    -#.col-xs-12.col-ms-6.col-md-6
      -#= render partial: 'dashboard/appointments/listing'

