%h1 Listing customers_sites

%table
  %tr
    %th
    %th
    %th

  - @customers_sites.each do |customers_site|
    %tr
      %td= link_to 'Show', customers_site
      %td= link_to 'Edit', edit_customers_site_path(customers_site)
      %td= link_to 'Destroy', customers_site, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site', new_customers_site_path
