.breadcrumb-container.span5.pull-right
  = render "shared/navbar/breadcrumbs_profile"
  %ul.breadcrumb
    %li
      =link_to image_tag("home.png"), customers_path
    - if @breadcrumbs
      -@breadcrumbs.each do |txt, path|
        %li
          %span.divider= ">"
          %span
            =raw(path)

