%ul.nav.navbar-nav
  %li
    %a{href: "#section1a"}
      .link_top
      About
      .link_bottom
  %li
    %a{href: "#section2a"}
      .link_top
      Services
      .link_bottom
  %li
    %a{href: "#section3a"}
      .link_top
      Contact
      .link_bottom

