%ul.nav.navbar-nav
  %li.active
    %a{href: "#{root_path}"}
      .link_top
      Home
      .link_bottom
  %li
    %a{href: "#{root_path}"}
      .link_top
      About
      .link_bottom
  %li
    %a{href: "#{root_path}"}
      .link_top
      Services
      .link_bottom
  %li
    %a{href: "#{root_path}"}
      .link_top
      Contact
      .link_bottom

