.row.section.section-warning
  %h1.page-header Dashboard
  -appointments = []
  -past_appointments = []
  .row
    .col-xs-12.col-md-4
      .well
        %legend
          ="make an appointment"
        = render partial: 'dashboard/appointments/form'
    -unless @appointments.empty?
      -now = Time.now
      -@appointments.each do |appointment|
        -if appointment.date < now
          -past_appointments << appointment
        -else
          -appointments << appointment
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/appointments", locals: {appointments: appointments}
      .col-xs-12.col-md-4
        = render partial: "dashboard/dashboards/my/past_appointments", locals: {past_appointments: past_appointments}

