.row
  .section.section-intro.section-default.section-light
    -appointments = []
    -past_appointments = []

    .col-xs-12.col-md-6
      -if @appointments.empty?
        .panel.panel-warning
          .panel-heading
            .panel-title
              %h3="Schedule Appointment"
          .panel-body
            = render partial: 'dashboard/appointments/form'
      -elsif  @next_app.date >= Date.today
        = render partial: 'dashboard/dashboards/my/next_appt', locals: { appointment: @next_app }
      -else
        .panel.panel-warning
          .panel-heading
            .panel-title
              ="make an appointment"
          .panel-body
            = render partial: 'dashboard/appointments/form'

    .col-xs-12.col-md-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            %h3=@service_plan.name
        .panel-body
          .col-xs-12
            .canvas
              %canvas.ant{ data_chart }
          .col-xs-12
            %br
            %p what!

    .col-xs-12.col-md-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            %h3="#{@sites.last.name}'s available \nappointments dates"
        .panel-body
          %p Coming soon!

