.section.section-primary
  %legend appointments
  = render "dashboard/dashboards/tab_panes/appointments"
.section.section-parallax
.section.section-success
  - if @sites.empty?
    %legend sites
  = render "dashboard/dashboards/tab_panes/sites"
.section.section-parallax
  %legend companies
.section.section-primary
  = render "dashboard/dashboards/tab_panes/companies"
.section.section-parallax
.section.section-success
  %legend vehicles
  = render "dashboard/dashboards/tab_panes/vehicles"

