/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dashboards/application
 *= require utilities/application
 */

@import "utilities/variables"
@import "bootstrap"
.main-body-wrapper
  padding: 10px 25px 5px 25px
  margin: 20px 0px
  background: #ffffff
  //border: 2px solid lighten($navbar-default-bg, 50%)
  border: none
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px

.nav.nav-tabs 
  margin-bottom: 15px

.nav-tabs > li > a 
  border-radius: 10px 10px 0 0

.nav-tabs > li > a:hover
  background: lighten($nav-tabs-active-link-hover-bg, 25%) 
  color: lighten($nav-tabs-active-link-hover-bg, 95%) 
  border: 1px solid lighten($nav-tabs-active-link-hover-bg, 20%) 

