@font-face {
  font-family: 'CenturyGothic';
  src: url('/assets/gothic.eot');
  src: url('/assets/gothic.eot?#iefix') format('embedded-opentype'), url('/assets/gothic.woff') format('woff'), url('/assets/gothic.ttf') format('truetype'), url('/assets/gothic.svg#gothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('/assets/segoeui.eot');
  src: url('/assets/segoeui.eot?#iefix') format('embedded-opentype'), url('/assets/segoeui.woff') format('woff'), url('/assets/segoeui.ttf') format('truetype'), url('/assets/segoeui.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}

