// Place all the styles related to the customers/vehicle controller here.
// They will automatically be included in application.css.
@import "./utilities/bootstrap/mixins/extended/material-design/_variables";

.vehicle_selects{
  min-height:350px;
}

#vehicle_selects {
  & > li {
    #selectors-link, #inputs-link {
      border-bottom: none !important;
    }

    #selectors-link {
    }

    #inputs-link {
    }

    &.active {
      #selectors-link, #inputs-link {
        border-bottom: 1px solid $brand-primary !important;
      }
    }
  }
}
