- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .hidden-xs
    = link_to "Forgot password?", new_password_path(resource_name), class: "btn btn-default btn-sm btn-outline col-sm-4", role: "button"
  .visible-xs-block
    = link_to "Forgot password?", new_password_path(resource_name), class: "btn btn-default btn-sm btn-outline btn-block", role: "button"

